body{
    background-color: rgb(236, 228, 92);
    text-align: center;
    border: 5px solid red;
    
}

div {
    color:rgb(17, 16, 2);
    background-color: aqua;
    font-size: 45px;
    padding: 5px; 
    border: 2px solid red;
}

