* {
    color: purple;
    background-color: aqua;
}

.webpage.header{
    text-align: center;
}

div{
    color: rgba(255, 0, 0, 0.3); /*rgba: a for opacity*/
}

.alert-text {
    color: brown;
}

/*Chaining Selectors*/
.subsection.preview{
    color: burlywood;
}

/*Descendant Combinator*/
.parent p{
    font-size: 28px;
    color: rgb(127, 0, 0)
}

/* styles.css 
.ancestor .contents {
    some declarations 
  }
*/